
{% extends 'app/question_mode.html' %}


{% load static %}


{% block card_title %}
    {# Set the value for my_title_variable here #}
    {% with my_title_variable="Fülle die Lücke aus." %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{% block card %}

<body>
<p>
  <p class="w3-container w3-green" style="text-align:center; line-height:1.35em; font-size:40px;"> 
    <h3 class="w3-margin">Was für ein Wort hörst du?</h3>
  </p>
  <figure>
      <div class = "w3-center">
      <audio controls src="/media/hello.mp3">
          <a href="/media/hello.mp3"> Download audio </a> 
      </audio>
    </div>

  </figure>
</p>

  <label for="answer"> <h3 class="w3-margin"> Was ist die Übersetzung, des gesprochenen Wortes? </h3> </label><br>
  <div class = "w3-center">
    <input type="text" id="answer" name="answer"><br>
    </p>
    <p>
      <button name="subject" type="submit"  class="btn btn-primary">Absenden</button>
    </p>
  </div>
</p>

</body>

{% endblock %}
