{% extends 'app/question_mode.html' %}
<body>

{% block card_title %}
    {# Set the value for my_title_variable here #}
    {% with my_title_variable="Was ist die richtige Antwort?" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block card %}
<p>
{{ question }} bedeutet: <br>
<input type="radio" id="1" name="answer" value="{{ possible_answers.0 }}" required="">
<label for="1">{{ possible_answers.0 }}</label><br>
<input type="radio" id="2" name="answer" value="{{ possible_answers.1 }}">
<label for="2">{{ possible_answers.1 }}</label><br>
<input type="radio" id="3" name="answer" value="{{ possible_answers.2 }}">
<label for="3">{{ possible_answers.2 }}</label><br>
<input type="radio" id="3" name="answer" value="{{ possible_answers.3 }}">
<label for="4">{{ possible_answers.3 }}</label><br>
<br>
<button  class="btn btn-primary" type="submit">Absenden</button><br>
</body>

{% endblock %}
