{% extends 'app/question_mode.html' %}
{% block card_title%}Was ist die richtige Antwort?{% endblock%}


{% block card %}
<p>
{{ original_word }} bedeutet: <br>
<input type="radio" id="1" name="radio" value="{{ data.0 }}" required="">
<label for="1">{{ data.0 }}</label><br>
<input type="radio" id="2" name="radio" value="{{ data.1 }}">
<label for="2">{{ data.1 }}</label><br>
<input type="radio" id="3" name="radio" value="{{ data.2 }}">
<label for="3">{{ data.2 }}</label><br>
<input type="radio" id="3" name="radio" value="{{ data.3 }}">
<label for="4">{{ data.3 }}</label><br>
<br>
<button name="subject" class="btn btn-primary" type="submit">Absenden</button><br>

{% endblock %}
