{% extends 'base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="/media/roadmap.css">
</head>
<body>
    <div class="bg-gradient_solid">
        <header style="padding:128px 16px">
            <div class="w3-content">
                <div class="w3-twothird">
                    <div class="text-center">
                        <div>
                            <h4 class="w3-margin w3-jumbo">Lektionenübersicht</h4>
                        </div>
                    </div>
                </div>
                <div class="w3-third w3-right">
                    <img src="/media/cute_panda_bubble.png" alt="J.A.T." class = "img-header"/> 
                    {% comment %} https://hotpot.ai/art-generator {% endcomment %}
                </div>
              {% comment %} </div> {% endcomment %}
            </div>
        </header>
      <div class="container">
        <div class="section-header"> 
            <div class="text-center">
                <h2>Mit welcher Lektion wollen wir weitermachen?</h2>
            </div>
            {% if lives.get_lives < 5 %}
            <div class="text-center">
                <h3>Du hast aktuell {{lives.get_lives}} Leben. Nächstes Leben in {{lives.time_left}} Minuten.</h3>
            </div>
            {% else %}
            <div class="text-center">
                <h3>Du hast aktuell {{lives.get_lives}} Leben.</h3>
            </div>
            {% endif %}
          <hr>
        </div>
        <div class="steps">
            {% for lection in lection_progress.reverse%}
                <div class="steps-container">
                    {% if lection.unlocked %}
                        <div class="content">
                            <p> 
                                <h2>Lektion {{lection.lection_number}}</h2>
                            </p>
                            <p> Herlichen Glückwunsch! Du hast die Lektion freigeschaltet. Wenn du über 95% erreichst, dann kannst du auch die nächste freischalten!</p>
                        </div>
                        <i class="step-line"></i>
                        <a href="{% url 'learn' lection.lection_number%}">
                            <button class="date">
                                <img src="/media/game_icon.svg" alt="buttonpng" border="0" />
                            </button>
                        </a>
                    {%else%}
                        <div class="content">
                            <p> 
                                <h2> Lektion {{lection.lection_number}} noch nicht freigeschaltet! </h2>
                            </p>
                            <p> Bisschen gewagt, diese Lektion zu probieren, wenn du in der vorherigen noch nicht einmal 95% hast. Ein Schritt nach dem anderen und dann erreichst auch du diese Lektion.</p>
                        </div>
                        <i class="step-line"></i>
                            <a href="{% url 'learn' lection.lection_number%}">
                                <button class="date">
                                    <img src="/media/gojo_icon.svg" alt="buttonpng" border="0" />
                                </button>
                            </a>
                    {%endif%}   
                </div>
            {% endfor %}

        </div>
      </div>
    </div>

</body>
{% endblock %}
