
{% extends 'base_lections.html' %}

{% block content %}
<body>
<div class="container">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col">
            <a href="{% url 'overview' %}">
                <button class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-right"><img src="/media/home_icon.svg" alt="buttonpng" border="0" /></button>
            </a>
            <form  action="" method="post">
                <input type="hidden" id="pk" name="pk" value="{{pk}}">
                <div class="card" style="width: 50rem;">
                    <div class="card-body">
                    <h5 class="card-title">{% block card_title%}
                        <header class="w3-container w3-green w3-center" style="padding:100px 16px">
                            <div class="w3-container w3-green bg-primary text-white text-center">
                                <div>
                                    <p class="w3-container w3-green w3-center" style="text-align:center; line-height:1.35em; font-size:40px;"> 
                                        <h1 class="w3-margin">{{ my_title_variable }}</h1>
                                    </p>
                                </div>
                            </div>
                        </header>
                        {% endblock%}</h5>
                {% csrf_token %}
                <p class="card-text w3-center">
                {% block card %}

                {% endblock %}
                </div>
            </div>
            </form>

        </div>

    </div>
    <div class="col-sm">
    </div>
</div>
</body>

{% endblock %}