
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-3">
    </div>
<div class="col">


    <form  action="" method="post">
        <input type="hidden" id="pk" name="pk" value="{{pk}}">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">{% block card_title%}Überschrift{% endblock%}</h5>
        {% csrf_token %}
        <p class="card-text">
        {% block card %}

        {% endblock %}
        <p>
        </div>
</form>
</div>

</div>
<div class="col-sm">
</div>
</div>
</div>
{% endblock %}