{% extends 'app/question_mode.html' %}

{% block card_title %}
    {# Set the value for my_title_variable here #}
    {% with my_title_variable="Merke dir die Bedeutung" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block card %}
<p>
{{ original_word }} bedeutet:<br>
 {{ right_translation }}
</p>

<button name="reading" type="submit" class="btn btn-primary" value="1">Gewusst</button> <button name="reading" type="submit" class="btn btn-danger" value="0">Nicht gewusst</button>

{% endblock %}
