:root {
    --primary: #229342;
    --primary-gradient: linear-gradient(45deg, #5ab90d 0%, rgb(236, 244, 235) 100%);
  }
  .section-header h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .section-header hr {
    border: 1px solid #fff;
    width: 56px;
  }
  .bg-gradient_solid {
    background: var(--primary-gradient);
    color: #fff;
    padding: 48px 0;
  }
  @media (max-width: 767px) {
    .steps::after {
      left: 32px;
    }
    .steps-container {
      left: 0;
      flex-direction: row-reverse;
      width: auto;
      margin-bottom: 16px;
    }
    .steps .steps-container:nth-child(even) {
      left: 0;
    }
  }
  